---
layout: default
permalink: /politica-do-sistema-de-gestao-integrado/
title: Política do Sistema de Gestão Integrado - ConsigLog
desc: Conheça as diretrizes da Política do Sistema de Gestão Integrado da ConsigLog.

banner:
  title: Política do Sistema de Gestão Integrado
  subtitle: "Diretrizes e Compromissos"
  desc: "Conheça as diretrizes que norteiam nossa gestão integrada de qualidade, segurança da informação e privacidade."
  slide_box: false
  bg_overlay: true
  bgimg: /assets/img/seguranca.webp
  breadcrumb:
    - title: Home
      link: /
    - title: Empresa
      link: /empresa/
    - title: Políticas
      link: /empresa/#politicas

conteudo:
  title: "Diretrizes da Política do Sistema de gestão integrado"
  items:
    - "Garantir o cumprimento e atendimento dos requisitos normativos e legais aplicáveis ao negócio e da LGPD – Lei Geral de Proteção de Dados;"
    - "A Alta Direção deve determinar e prover recursos necessários para o estabelecimento, implementação, manutenção e melhoria contínua do sistema de gestão integrado de qualidade, segurança da informação e privacidade da informação;"
    - "A Alta Direção, gestores e colaboradores deverão realizar ações para disseminar e apoiar a cultura do sistema de gestão integrado;"
    - "Deve-se assegurar que as responsabilidades e autoridades dos papéis relevantes para o sistema de gestão integrado sejam atribuídos e comunicados;"
    - "Assegurar o monitoramento e a melhoria contínua do sistema de gestão integrado com base em análises críticas e indicadores;"
    - "Assegurar a divulgação, treinamento e revisão anual das políticas do sistema de gestão integrado e a capacitação contínua dos colaboradores;"
    - "Gerenciar os riscos e oportunidades com processos anuais de avaliação e tratamento, a fim de aumentar efeitos desejáveis e prevenir ou reduzir efeitos indesejáveis;"
    - "Assegurar a execução de auditorias internas anuais para prover informação sobre o sistema de gestão integrado;"
    - "Garantir o atendimento das necessidades dos Clientes e partes interessadas;"
    - "Assegurar o compromisso com a satisfação do cliente e com a eficiência operacional, bem como a qualidade de seus produtos e serviços;"
    - "Garantir o apoio e comprometimento para alcançar a conformidade com as regulamentações e legislações de proteção de dados pessoais aplicáveis, e com termos contratuais acordados entre a ConsigLog e seus clientes, parceiros, subcontratados e terceiros;"
    - "Controlar o acesso à informação e aos recursos de processamento da informação, assegurar acesso de usuário autorizado e prevenir acesso não autorizado a sistemas e serviços. Prevenir o acesso físico não autorizado, danos e interferências nos recursos de processamento das informações e nas informações da organização;"
    - "Deve-se assegurar que a proteção de dados e informações relevantes ao negócio não sofra perdas e mantenha sua integridade;"
    - "Deve-se assegurar que a informação receba um nível adequado de proteção, de acordo com a sua importância para a organização;"
    - "Deve-se assegurar o uso apropriado dos canais de comunicação, como o uso do correio eletrônico corporativo, internet e demais recursos e ativos necessários para o negócio da empresa;"
    - "Assegurar que a segurança da informação seja parte integrante de todas as fases de projetos e os objetivos de segurança e privacidade da informação sejam contemplados nos objetivos do projeto;"
    - "Assegurar a capacidade de retornar, transferir e/ou descartar dados pessoais de titulares."
---

<main>
  {% include banner.html %}

  {% include politicas-conteudo.html %}

  <div class="bg-light">
    {% include politicas.html %}
  </div>
</main>