---
layout: default
permalink: /politica-esg/
title: Política ESG - Consiglog
desc: Conheça as diretrizes da Política ESG da Consiglog.

banner:
  title: Política ESG
  subtitle: "Diretrizes e Compromissos"
  desc: "Conheça as diretrizes que norteiam nossa política ambiental, social e de governança (ESG)."
  bgimg: /assets/img/esg.jpg
  boxed: false
  bg_overlay: true
  breadcrumb:
    - title: Home
      link: /
    - title: Empresa
      link: /empresa/
    - title: Políticas
      link: /empresa/#politicas

conteudo:
  title: "Diretrizes da Política ESG"
  colunas: false
  grupos:
    - titulo: "Geral"
      itens:
        - "A Alta Direção deve determinar e prover recursos necessários para o estabelecimento, implementação, manutenção e melhoria contínua voltada a ESG;"
        - "A Alta Direção, gestores e colaboradores deverão realizar ações para disseminar e apoiar a cultura ESG;"
        - "Assegurar o monitoramento e a melhoria contínua dos sistemas de Gestão ESG com base em análises críticas e indicadores;"
        - "Assegurar a divulgação, treinamento e revisão anual das políticas e a conscientização contínua dos colaboradores;"
        - "Gerenciar os riscos e oportunidades com processos anuais de avaliação e tratamento, a fim de aumentar efeitos desejáveis e prevenir ou reduzir efeitos indesejáveis;"
        - "Assegurar a execução de auditorias internas anuais para prover informação sobre os sistemas de gestão integrados;"
        - "Garantir o cumprimento e atendimento dos requisitos normativos e legais aplicáveis ao negócio."

    - titulo: "Ambiental"
      itens:
        - "Promover o consumo consciente de recursos e materiais nos processos e serviços prestados pela Consiglog e a utilização de equipamentos que permitem reduzir o consumo e, consequentemente, os impactos ambientais incluindo emissões de gases de efeito estufa;"
        - "Apoiar os colaboradores, fornecedores, parceiros e clientes na conscientização e adoção de melhores práticas ambientais;"
        - "Apoiar projetos e iniciativas internas de cunho socioambiental;"
        - "Incentivar a criação de produtos que promovam impactos positivos sobre o meio ambiente e a sociedade;"
        - "Privilegiar a contratação de fornecedores com certificações ambientais e melhores práticas de gestão ambiental;"
        - "Realizar a gestão de resíduos e uso consciente de recursos por meio de indicadores para buscar a mitigação dos impactos."

    - titulo: "Social"
      itens:
        - "Combater qualquer tipo de discriminação e promover o respeito aos direitos humanos em todas as relações de negócio;"
        - "Zelar por um ambiente de trabalho saudável e seguro, livre de qualquer forma de ameaça ou agressão e pela saúde física e mental dos colaboradores, garantindo boas condições de trabalho e promovendo uma vida saudável e bem-estar para todos;"
        - "Criar programas de capacitação e treinamento para o desenvolvimento de funcionários, estimulando a liderança e a criatividade;"
        - "Promover a diversidade e inclusão de gênero, raça, idade, orientação sexual, deficiência, ou qualquer outra condição, com ações que mantenham o acesso igualitário a oportunidades;"
        - "Promover a melhora da vida financeira das pessoas com serviços prestados para alavancar o crédito consciente;"
        - "Combater a exploração de trabalho infantil, trabalho forçado e/ou não remunerado e trabalho escravo, análogo à escravidão ou exercido em condições precárias ou degradantes;"
        - "Privilegiar, sempre que possível, a aquisição de produtos e serviços de fornecedores locais favorecendo os pequenos negócios e o empreendedorismo."

    - titulo: "Governança"
      itens:
        - "Promover e fortalecer a ética, integridade e transparência por meio de um Programa de Compliance;"
        - "Estimular o relato de comportamentos antiéticos, antiprofissionais, ilegais, fraudulentos ou questionáveis;"
        - "Garantir a realização de auditorias independentes para a análise dos sistemas de gestão da Consiglog;"
        - "Manter e aprimorar a gestão de riscos na Consiglog;"
        - "Garantir a transparência e a clareza nos serviços prestados;"
        - "Incorporar critérios ambientais, sociais e de governança corporativa na gestão e decisão estratégica da Consiglog;"
        - "Estabelecer e aplicar critérios de risco ambientais, sociais e de governança corporativa no desenvolvimento de novos produtos."
---

<main>
  {% include banner.html %}

  {% include politicas-conteudo.html %}

  <div class="bg-light">
    {% include politicas.html %}
  </div>
</main>