---
layout: default
permalink: /politica-de-compliance-e-controles-internos/
title: Política de Compliance e Controles Internos - Consiglog
desc: Conheça as diretrizes da Política de Compliance e Controles Internos da Consiglog.

banner:
  title: Política de Compliance e Controles Internos
  subtitle: "Diretrizes e Compromissos"
  desc: "Conheça as diretrizes que norteiam nossa política de compliance e controles internos."
  bgimg: /assets/img/compliance.webp
  boxed: false
  bg_overlay: true
  breadcrumb:
    - title: Home
      link: /
    - title: Empresa
      link: /empresa/
    - title: Políticas
      link: /empresa/#politicas

conteudo:
  title: "Diretrizes da Política de Compliance e Controles Internos"
  colunas: true
  items:
    - "As práticas de negócio devem atender à legislação e à regulamentação aplicável ao negócio, bem como em relação à políticas, normas e procedimentos internos;"
    - "As comunicações externas e internas devem seguir as regras e condutas de comunicação estabelecidas no Código de Ética e políticas internas;"
    - "Deve-se promover práticas de negócio eficientes e controles internos adequados e eficazes, alocando recursos necessários ao processo e definir a infraestrutura apropriada às atividades de Gestão do Sistema de Compliance;"
    - "O ambiente regulatório deve ser monitorado para o atendimento das disposições regulatórias;"
    - "Deve-se assegurar que a empresa esteja aderente às normas e práticas estabelecidas por associações as quais ela adere e órgãos reguladores do mercado no que tange os serviços prestados e parcerias de negócio;"
    - "Todos os colaboradores devem atuar com imparcialidade e ter ciência do código de ética, das normas aplicáveis, bem como das políticas internas e as disposições relativas à controles internos;"
    - "Conflitos de interesse, os quais possam afetar a imparcialidade dos colaboradores, devem ser administrados e eliminados;"
    - "Todo colaborador deve prover a melhor qualidade de serviços aos clientes, mantendo o mais alto nível ético na conduta de suas atividades;"
    - "As operações suspeitas devem ser comunicadas imediatamente ao Comitê de Segurança da Informação e Compliance ou utilizando os canais apropriados;"
    - "Deve-se gerenciar os riscos e oportunidades, a fim de aumentar efeitos desejáveis, prevenir ou reduzir efeitos indesejáveis;"
    - "Determinar e prover recursos necessários para o estabelecimento, implementação, manutenção e melhoria contínua do Sistema de Gestão da Qualidade;"
    - "Realizar ações para disseminar e apoiar a Política de Compliance;"
    - "Assegurar a divulgação, treinamento e revisão anual da Política de Compliance da empresa;"
    - "Assegurar a melhoria contínua do Sistema de Gestão de Compliance com base em análises críticas anuais e indicadores."
---

<main>
  {% include banner.html %}

  <section class="py-5 bg-white">
    <div class="container py-5">
      <h2 class="mb-5 text-balanced">{{ page.conteudo.title }}</h2>
      <ul class="list-unstyled column-count gx-5">
        {% for item in page.conteudo.items %}
        <li class="mb-3 d-flex align-items-start bg-light p-3 rounded-3">
          <span class="material-symbols-rounded text-primary me-2">check_circle</span>
          <span>{{ item }}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>

  <div class="bg-light">
    {% include politicas.html %}
  </div>
</main>