---
layout: default
permalink: /solucoes/
title: Soluções ConsigLog - Tecnologia Avançada para Gestão Eficiente e Segura
desc: Conheça os produtos e soluções tecnológicas desenvolvidas pela ConsigLog para o mercado de consignados.

banner:
  title: Soluções
  cta: Conheça as soluções
  cta_link: "#solucoes"
  cta_sec: Saiba mais
  cta_sec_link: "#intro"
  bgimg: /assets/img/particles.webp
  breadcrumb:
    - title: Home
      link: /

intro:
  destaque: |
    O sistema da ConsigLog foi desenvolvido para Windows, utilizando banco de dados Microsoft e tecnologia de programação de **última geração**. Além disso, oferece um ambiente web totalmente compatível com todos os navegadores.
  desc: |
    Acesse o sistema da ConsigLog através de smartphones e tablets. Em qualquer dispositivo, a <a href="#seguranca">segurança</a> e a privacidade são garantidas pelo protocolo HTTPS com certificado digital e criptografia dos dados.

    A Solução permite o controle de transações e acessos, proporcionando aos clientes informações detalhadas de todo o processo de utilização do sistema. E mais: ele permite recuperar dados e fazer cópias de segurança, que auxiliam em processos de auditoria interna e externa.
  
    Com economia de recursos humanos, automação de processo, supressão de papel e eficiência de controle, a solução da ConsigLog é ideal para a organização de órgãos públicos e privados.
  img: /assets/img/logconsig_telas.gif

seguranca:
  title: Segurança
  desc: |
    A ConsigLog oferece, em seus sistemas, serviços de segurança no processamento e tráfego de dados e informações confidenciais. O objetivo é garantir que esses processos sejam feitos com máxima proteção.

    Todos os sistemas da ConsigLog possuem certificados de segurança, que impedem que terceiros tenham acesso às informações. Para garantir a proteção aos dados e informações confidenciais, a equipe da ConsigLog monitora, diariamente, o uso de suas ferramentas.
    
    As transações possuem controle de logs, usuários e IPs. Após três (número personalizável) tentativas de entrar no sistema com informações incorretas, o acesso ao usuário será bloqueado.
    
    É possível gerenciar usuários por perfil de acessos, com módulos específicos para consignatárias e convênios; Para usuários masters, a manutenção é feita pelas próprias consignatárias e convênios, sem a intervenção da equipe da ConsigLog.
    
    Todos os dados são armazenados em ambiente seguro, alocados em data center de alta performance, que funciona 24 horas por dia, sete dias por semana. As informações são protegidas por camada de criptografia com segurança de internet (https) e controle por IP ou DNS, com disponibilidade para uso do captcha, e têm certificado SSL.
    
    Os programas da ConsigLog fazem periodicamente cópias de segurança de seus dados (backup). Eles também permitem a recuperação de informações que foram apagadas.

---

<main>
  {% include banner.html %}

  <!-- Intro -->
  <section id="intro" class="section bg-white">
    <div class="container">
      <header class="section-heading">
        <h2 class="section-title font-bold">
          <span><strong>Soluções</strong> ConsigLog</span>
        </h2>
        <h3>
          Tecnologia Avançada para Gestão Eficiente e Segura
        </h3>
      </header>
      <div class="section-content p-5 bg-light-subtle row align-items-center mx-0 mt-5 mb-5 gy-5 gx-lg-5 rounded-4">
        <div class="col-lg-8 text-balanced m-0 mb-5 mb-lg-0 ps-0">
          <!--  bg-secondary angled-corner-box bottom-right text-white p-5 -->
          <div class="h3 fw-light">
            {{ page.intro.destaque | markdownify }}
          </div>
        </div>
        <div class="col-lg-4 ps-lg-5 m-0">
          <div id="logos-slider" class="overflow-hidden">
            <div class="swiper-wrapper">
              <div class="swiper-slide bg-light-subtle">
                <img src="{{ 'assets/img/microsoft-logo.svg' | relative_url }}" alt="Microsoft" class="img-fluid">
              </div>
              <div class="swiper-slide bg-light-subtle">
                <img src="{{ 'assets/img/windows-logo.svg' | relative_url }}" alt="Windows" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
    </div>
    <!-- Imagem + Desc -->
    <div class="row pt-5 align-items-center flex-row-reverse gx-5">
      <div class="col-lg ps-lg-5">
        <h3 class="text-balanced fw-semibold mb-4">
          Gestão Inteligente e Acessível em qualquer dispositivo
        </h3>
        {{ page.intro.desc | markdownify }}
      </div>
      <div class="col-lg py-2">
        <figure class="border border-4 border-white rounded-4 overflow-hidden shadow-lg">
          <img src="{{ page.intro.img }}" alt="Sistema ConsigLog" class="img-fluid">
        </figure>
      </div>
    </div>
  </section>

  <!-- Soluções -->
  {% include home-solucoes.html %}

  <!-- Segurança -->
  <section id="seguranca" class="section bg-light-subtle">
    <div class="container">
      <header class="section-heading">
        <h2 class="section-title">{{ page.seguranca.title }}</h2>
        <h3 class="h4">
          Gestão Segura com Certificação e Criptografia de Alto Padrão
        </h3>
      </header>
      <div class="column-count py-5">
        {{ page.seguranca.desc | markdownify }}
      </div>
    </div>
  </section>
</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var swiper = new Swiper("#logos-slider", {
      loop: true,
      spaceBetween: 0,
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      effect: "fade", // Altere para "slide", "cube", "coverflow", etc.
      speed: 1000, // Velocidade da transição
  });
});
</script>