<!-- _includes/banner.html -->
<header id="banner" 
        class="p-3 p-lg-5 bg-dark text-bg-dark mouse-glow">
  <div id="banner-bg"
  data-bg-image="{{ page.banner.bgimg | relative_url }}" class="bg-covered {% if page.banner.classes %}{{ page.banner.classes }}{% endif %} {% if page.banner.bg_overlay == true %}bg-overlay{% endif %}"></div>
  <div class="container py-5 position-relative">
    <div class="row align-items-center">
      <div id="banner-left" class="col-lg-6 {% if page.banner.left_classes %}{{ page.banner.left_classes }}{% endif %}">
        <div id="banner-content" class="{% if page.banner.boxed != false %}slide-box angled-corner-box bottom-right{% endif %}">
          <!-- Breadcrumb -->
          {% include breadcrumb.html %}

          <!-- Graphic Image -->
          {% if page.banner.graphic_img %}
            <img src="{{ page.banner.graphic_img | relative_url }}" 
                alt="{{ page.title }}" 
                class="img-fluid mb-2"
                width="100"
                loading="lazy">
          {% endif %}

          <!-- Verifica se há pre_title e title no banner -->
          <h1 id="banner-title" class="h1 display-5">
            {% if page.banner.title %}
              {% if page.banner.pre_title %}
              <small class="lined">{{ page.banner.pre_title }}</small>
              {% endif %}
              <strong>{{ page.banner.title }}</strong>
            {% else %}
              {{ page.title }}
            {% endif %}
          </h1>

          {% if page.banner.subtitle %}
          <!-- Subtítulo -->
          <h2 id="banner-subtitle" class="h5 text-primary text-balanced">{{ page.banner.subtitle }}</h2>
          {% endif %}

          <!-- Verifica se há desc no banner, senão usa page.desc -->
          {% if page.banner.desc or page.desc %}
          <p id="banner-desc" class="text-balanced text-hyphens">
            {% if page.banner.desc %}
              {{ page.banner.desc }}
            {% else %}
              {{ page.desc }}
            {% endif %}
          </p>
          {% endif %}

          <!-- Botões de ação -->
          <div id="banner-actions" class="d-flex gap-md-2 flex-md-wrap flex-column flex-md-row">
            {% if page.banner.cta %}
              <!-- Botão principal (CTA) -->
              <a href="{% if page.banner.cta_link contains '#' %}{{ page.banner.cta_link }}{% else %}{{ page.banner.cta_link | relative_url }}{% endif %}" class="btn btn-primary">{{ page.banner.cta }}</a>
            {% endif %}

            <!-- Botão secundário (CTA Secundário) -->
            {% if page.banner.cta_sec %}
              <a href="{% if page.banner.cta_sec_link contains '#' %}{{ page.banner.cta_sec_link }}{% else %}{{ page.banner.cta_sec_link | relative_url }}{% endif %}" class="btn btn-outline-light">{{ page.banner.cta_sec }}</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% if page.banner.img %}
        <div id="banner-right" class="col-lg">
          <img src="{{ page.banner.img | relative_url }}" 
              alt="{{ page.title }}" 
              class="img-fluid rounded shadow-lg"
              loading="lazy">
        </div>
      {% endif %}
    </div>
  </div>
</header>