<!-- Sobre -->
  <section id="sobre" class="section position-relative">
    <div class="bg" data-bg-image="{{ '/assets/img/consiglog-predio.webp' | relative_path }}"></div>
    <div class="container position-relative z-1">
      <div class="row gy-5 g-lg-5 align-items-center">
        <div class="col-12 col-lg-6">
          <header class="section-headline mb-5">
            <h2 class="section-title">
              <small>Sobre a</small>
              <strong>Consig<span class="text-primary">Log</span></strong>
            </h2>
          </header>
          <div class="mt-5 text-hyphens">
            <p>
              A Consiglog Tecnologia e Soluções foi fundada por profissionais experientes do mercado financeiro e atua há mais de 10 anos como uma das maiores e mais respeitadas gestoras de margens consignáveis do Brasil.
            </p>
            <p>
              Com uma ampla sede em São Paulo e escritórios estratégicos em diversas regiões do país, contamos com uma equipe especializada nas áreas de tecnologia e operações, garantindo agilidade e eficiência no processo de implantação de novos convênios.
            </p>
            <p>
              Atualmente, estamos presentes em diversos estados brasileiros, com contratos firmados com mais de 140 convênios, incluindo Governos Estaduais, Prefeituras Municipais, Autarquias e Empresas Privadas.
            </p>
          </div>
        </div>
        <div class="col-12 col-lg-5 offset-lg-1">
          <img src="{{ '/assets/img/consiglog-predio.webp' | relative_path }}" alt="ConsigLog (Prédio)" class="w-100 img-fluid shadow-lg">
        </div>
      </div>
    </div>
  </section>