<section id="solucoes" class="section text-hyphens">
  <div class="container">
    <header class="section-headline mb-5">
      <div class="row g-md-5 align-items-center">
        <div class="col-md-7">
          <h2 class="section-title">
            {{ site.data.solucoes.home_section_title | markdownify }}
          </h2>
        </div>
        <div class="col-md-5 text-balanced">
          <p>
            {{ site.data.solucoes.home_section_desc | markdownify }}
          </p>
        </div>
      </div>
    </header>
    <div id="solucoes-loop" class="row gy-1">
      {% for solucao in site.data.solucoes.solucoes %}
        {% if solucao.ativo == true %}
        <div class="col-12">
          <!-- Card de Solução -->
          <div class="card card-cover align-content-end flex-row bg-dark text-white text-balanced card-solucao angled-corner-box bottom-right mouse-glow">
            <img src="{{ '/assets/img/' | append: solucao.imagem | relative_url }}" class="card-img" alt="{{ solucao.titulo }}">
            <div class="card-body my-auto mb-0">
              {% assign logo = solucao.logo | default: site.data.solucoes.config.defaults.logo_padrao %}
              <img src="{{ '/assets/img/' | append: logo | relative_url }}" alt="{{ solucao.titulo }}">
              <h3 class="card-title">
                <a href="{{ solucao.link | relative_url }}">
                  {{ solucao.tituloHTML }}
                </a>
              </h3>
              <p>
                {{ solucao.descricao }}
              </p>
              <a class="btn btn-outline-info" href="{{ solucao.link | relative_url }}" title="Saiba mais sobre a solução {{ solucao.titulo }}" aria-label="Acessar página da solução {{ solucao.titulo }}">{{ site.data.solucoes.config.defaults.link_texto }}</a>
            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>