<!-- Sobre -->
<section id="sobre" class="section position-relative">
  <div class="bg" data-bg-image="{{ site.data.global.section_sobre.image.src | relative_url }}"></div>
  <div class="container position-relative z-1">
    <div class="row gy-5 g-lg-5 align-items-center">
      <div class="col-12 col-lg-6">
        <header class="section-headline mb-5">
          <h2 class="section-title">
            {{ site.data.global.section_sobre.title | markdownify }}
          </h2>
        </header>
        <div class="mt-5 text-hyphens">
          {{ site.data.global.section_sobre.description | markdownify }}
        </div>
      </div>
      <div class="col-12 col-lg-5 offset-lg-1">
        <img 
          src="{{ site.data.global.section_sobre.image.src | relative_url }}" 
          alt="{{ site.data.global.section_sobre.image.alt }}" 
          class="w-100 img-fluid shadow-lg"
        >
      </div>
    </div>
  </div>
</section>