<!-- Offcanvas no lado direito -->
<aside class="offcanvas offcanvas-end text-start" tabindex="-1" id="areaClienteOffcanvas" aria-labelledby="areaClienteOffcanvasLabel">
  <header class="offcanvas-header shadow-sm bg-dark text-bg-dark">
    <h5 class="offcanvas-title d-flex align-items-center gap-2" id="areaClienteOffcanvasLabel">
      <i class="material-symbols-rounded light">account_circle</i>
      <span>Área do Cliente</span>
    </h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
      <span class="material-symbols-rounded">close</span>
    </button>
  </header>
  <img src="{{ '/assets/img/cliente.jpg' | relative_url }}" id="areaClienteOffcanvasImg" alt="Área do Cliente">
  <div class="offcanvas-body">
    <!-- Navegação dentro do offcanvas -->
    <nav class="nav flex-column">
      {% for item in site.data.header.area_cliente.links %}
        {% if item.sublinks %}
          <!-- Item com Submenu (Accordion) -->
          <div class="offcanvas-nav-item accordion" id="areaDoClienteAccordion-{{ forloop.index }}">
            <div class="accordion-item">
              <span class="accordion-header" id="heading-{{ item.titulo | slugify }}-{{ forloop.index }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#submenu-{{ item.titulo | slugify }}-{{ forloop.index }}" aria-expanded="false" aria-controls="submenu-{{ item.titulo | slugify }}-{{ forloop.index }}">
                  {{ item.titulo }}
                </button>
              </span>
              <div id="submenu-{{ item.titulo | slugify }}-{{ forloop.index }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ item.titulo | slugify }}-{{ forloop.index }}" data-bs-parent="#areaDoClienteAccordion-{{ forloop.index }}">
                <ul class="list-unstyled mb-0">
                  {% for sublink in item.sublinks %}
                    <li><a class="nav-link" href="{{ sublink.link }}" target="_blank">{{ sublink.titulo }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        {% else %}
          <!-- Item Simples -->
          <a class="offcanvas-nav-item nav-link" href="{{ item.link }}" target="_blank">{{ item.titulo }}</a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</aside>