*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--cor-neutra-3) var(--cor-neutra-1);
}

@cor-prim: #edc263;
@cor-prim-rgb: 237, 194, 99;
@cor-prim-hover: brightness(@cor-prim, 10%);

.trans {
  transition: all ease 0.3s;
}

:root {
  --header-height: 0;
  --cor-prim: @cor-prim;
  --cor-prim-rgb: @cor-prim-rgb;
  --cor-prim-hgl: saturate(@cor-prim, 10%);

  --cor-neutra-1: #f8f9fa;
  --cor-neutra-2: #d8e0e7;
  --cor-neutra-3: #717988;
  --cor-neutra-4: #4f5663;
  --cor-neutra-4-rgb: 79, 86, 99;
  --cor-neutra-8: #393e47;
  --cor-neutra-8-rgb: 57, 62, 71;
  --cor-azul: #0077ff;
  --cor-azul-rgb: 0, 119, 255;
  --cor-azul-drk: #131f2c;

  --font-title: "Stainless", Inter, Arial, Helvetica, sans-serif;

  --bs-primary: @cor-prim;
  --bs-primary-rgb: @cor-prim-rgb;
  --bs-light-bg-subtle: var(--cor-neutra-1);
  --bs-light-bg-subtle-rgb: 248, 249, 250;
  --bs-light-bg: var(--cor-neutra-2);
  --bs-light-bg-rgb: 216, 224, 231;

  --swiper-theme-color: var(--cor-prim);
  --swiper-pagination-bullet-inactive-color: #888;
  --swiper-navigation-size: 30px;
}

html,
body {
  height: 100%;
  max-width: 100vw;
}

html {
  overflow-x: hidden;
  cursor: default;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--cor-neutra-4);
  overflow: visible !important;
}

main {
  padding-top: var(--header-height);
}
.fixed-header {
  main {
    padding-top: 0 !important;
  }
}

strong,
b {
  font-weight: 700;
}

p {
  &:last-child {
    margin-bottom: 0;
  }
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1em;

  small {
    font-size: 0.5em;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
svg,
video,
canvas {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  border-width: 2px;
  font-weight: 700;
  line-height: 1.1em;
  --bs-btn-padding-y: 0.75rem;
  --bs-btn-padding-x: ~"calc(var(--bs-btn-padding-y) * 2)";
  .trans;

  &:active {
    transform: scale(0.95);
  }
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: var(--cor-prim-hgl);
  --bs-btn-hover-border-color: var(--cor-prim-hgl);
  --bs-btn-color: var(--cor-neutra-8);
  --bs-btn-hover-color: var(--cor-neutra-8);
  --bs-btn-active-bg: var(--cor-prim-hgl);
  --bs-btn-active-border-color: var(--cor-prim-hgl);
  --bs-btn-active-color: var(--cor-neutra-8);
  
  --bs-btn-disabled-bg: var(--cor-neutra-2);
  --bs-btn-disabled-border-color: var(--cor-neutra-2);
  --bs-btn-disabled-color: var(--cor-neutra-3);
  --bs-btn-disabled-opacity: .25;

  &[disabled] {
    cursor: not-allowed;
  }
}
.btn-outline-primary {
  --bs-btn-color: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-color: var(--cor-neutra-8);
  --bs-btn-hover-bg: var(--bs-primary);
  --bs-btn-hover-border-color: var(--bs-primary);
  --bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);
  --bs-btn-active-color: var(--cor-neutra-8);
  --bs-btn-active-bg: var(--bs-primary);
  --bs-btn-active-border-color: var(--bs-primary);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--bs-primary);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--bs-primary);
  --bs-gradient: none;
}

.text-hyphens {
  -webkit-hyphens: auto;
  hyphens: auto;
  word-break: normal;
  white-space: normal;
}

.text-balanced {
  text-wrap: balance;
}
.line-height-1 {
  line-height: 1;
}

.bg-primary-hgl {
  background-color: var(--cor-prim-hgl);
}
.bg-covered {
  background-size: cover;
  background-position: center;
}
.bg-overlay {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(var(--cor-neutra-8-rgb), 0.8);
    z-index: 0;
  }

  * {
    position: relative;
    z-index: 1;
  }
}
.bg-fade-left {
  &:before {
    content: "";
    background-image: linear-gradient(45deg, var(--cor-neutra-8), transparent);
  }
}

.bg-blurred {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.grayscale {
  filter: grayscale(1);
}

.form-control {
  padding: .75rem 1rem;
}
select.form-control {
  background: #FFF url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat calc(100% - 5px) 50%;
  
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  outline-width: 0;

  display: block;
  font-size: 1rem;

  cursor: pointer;
  transition: all ease 150ms;
  width: 100%;
}
select.form-control:focus,
select.form-control:hover {
  filter: brightness(.95);
  border-color: #222;
}

form {
  .col-md-6 {
    flex: 1 0 auto; 
  }
  .btn {
    @media (max-width: 768px) {
      width: 100%;
    }
  }
}

.separator {
  &.horz-lines {
    background: linear-gradient(to bottom, currentColor 1px, transparent 1px);
    background-size: 100% 10px;
  }

  &.horz {
    height: 20px;
    width: 100%;
  }
  &.vert {
    width: 20px;
    height: 100%;
  }
}

.material-symbols-rounded {
  &.md-18  { font-size: 18px;  }
  &.md-24  { font-size: 24px;  }
  &.md-36  { font-size: 36px;  }
  &.md-48  { font-size: 48px;  }
  &.md-64  { font-size: 64px;  }
  &.md-72  { font-size: 72px;  }
  &.md-96  { font-size: 96px;  }
  &.md-128 { font-size: 128px; }
  &.md-256 { font-size: 256px; }

  @media (min-width: 992px) {
    &.md-lg-18  { font-size: 18px;  }
    &.md-lg-24  { font-size: 24px;  }
    &.md-lg-36  { font-size: 36px;  }
    &.md-lg-48  { font-size: 48px;  }
    &.md-lg-64  { font-size: 64px;  }
    &.md-lg-72  { font-size: 72px;  }
    &.md-lg-96  { font-size: 96px;  }
    &.md-lg-128 { font-size: 128px; }
    &.md-lg-256 { font-size: 256px; }
  }
}

:root {
  --glow-x: 0px;
  --glow-y: 0px;
  --glow-size: 500px;
}

.mouse-glow {
  position: relative;
  overflow: hidden;
  // display: inline-block;
}

.mouse-glow .glow-effect {
  pointer-events: none;
  position: absolute;
  background-color: var(
    --glow-color,
    rgba(255, 255, 255, 0.7)
  ); /* Cor padrão do brilho */
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity ease 0.3s, width linear 0.1s, height linear 0.1s;
  filter: blur(100px);
  left: 0;
  top: 0;
  z-index: 0;
  transform: ~"translate(calc(var(--glow-x) - 50%), calc(var(--glow-y) - 50%))";
}

.mouse-glow:hover .glow-effect {
  width: var(--glow-size);
  height: var(--glow-size);
  opacity: 0.3;
}

#header-logo {
  display: inline-flex;
  align-items: center;
  margin: 0 auto;
  max-width: 120px;

  img {
    display: block;
    margin: 0;
    width: 100%;
  }
}

#header {
  a {
    .trans;
  }

  .nav-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    position: relative;

    ul a:hover,
    ul a:focus {
      background-color: var(--cor-neutra-4);
      color: white;
    }

    @media (max-width: 991px) {
      padding: 1rem 1.5rem;
    }
  }
  .nav-item {
    &:hover {
      .nav-link {
        &::before {
          width: calc(100% - (2 * var(--bs-navbar-nav-link-padding-x)));
        }
      }
    }

    &.current {
      > a.nav-link {
        color: var(--cor-neutra-8);
        
        &::before {
          width: calc(100% - (2 * var(--bs-navbar-nav-link-padding-x)));
        }
      }
    }
    &.current-parent {
      .dropdown > a,
      > a {
        color: var(--cor-neutra-8);
      
        &::before {
          width: calc(100% - (2 * var(--bs-navbar-nav-link-padding-x)));
        }
      }

      .dropdown {
        .current a:not(:hover) {
          background-color: var(--cor-neutra-2);
        }
      }
    }
  }

  .dropdown-item {
    --bs-dropdown-item-padding-x: 1.5rem;
    --bs-dropdown-item-padding-y: 0.75rem;
    font-weight: 600;
  }

  .dropdown-menu {

    a {
      --bs-dropdown-link-hover-bg: var(--cor-neutra-4);
      --bs-dropdown-link-hover-color: white;
      --bs-nav-link-hover-bg: var(--cor-neutra-4);
      --bs-nav-link-hover-color: white;
    }
    .dropdown-item-desc {
      opacity: 0.6;
      font-style: italic;
      font-weight: 400;
      line-height: 1em;
      font-size: 0.825em;
    }
    a.dropdown-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .text-balanced;

      &.has-desc {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        text-align: left;
        gap: 3px;
        min-width: 280px;
        max-width: 600px;

        @media (max-width: 991px) {
          align-items: center;
          text-align: center;
        }
      }

      @media (max-width: 991px) {
        justify-content: center;
      }
    }
  }

  .navbar-nav {
    a {
      position: relative;
      
      &:before {
        content: "";
        background-color: var(--cor-prim);
        transition: width ease 0.3s;
        display: block;
        width: 0;
        height: 3px;
        position: absolute;
        bottom: 3px;
        left: var(--bs-navbar-nav-link-padding-x);
      }
    }
    @media (min-width: 640px) {
      flex-direction: row;
    }
  }

  @media (min-width: 992px) {
    max-height: 88px;

    .nav-item {
      display: flex;
    }

    .dropdown {
      position: relative;
      
      &:hover .dropdown-menu,
      &:focus-within .dropdown-menu {
        display: block;
      }

      .dropdown-menu {
        &:hover {
          display: block;
        }
      }
    }
  }
}

.dropdown-menu.show {
  animation: ddFadeIn 0.3s ease;
}
@keyframes ddFadeIn {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* Desktop View */
@media all and (min-width: 992px) {
  .dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 0;
    min-width: 200px;
    padding-top: 0.5rem;
  }

  .dropdown-menu-end {
    left: auto;
    right: 0;
  }

  .dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
  }
}

/* Small Devices */
@media (max-width: 991px) {
  .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

#areaClienteOffcanvas {
  --bs-offcanvas-padding-x: 1.5rem;
  --bs-offcanvas-padding-y: 1.5rem;

  .btn-close {
    --bs-btn-close-color: #fff;
    background: none;
    padding: 5px;
    width: auto;
    height: auto;
    line-height: 0;
  }

  .offcanvas-header {
    // min-height: var(--header-height, 88px);
    max-height: var(--header-height, 88px);
  }

  .offcanvas-title {
    i {
      font-size: 2em;
    }
  }

  .nav-link {
    --bs-nav-link-padding-y: 1rem;
    --bs-nav-link-color: var(--cor-neutra-8);
    --bs-nav-link-hover-color: #fff;
    --bs-nav-link-bg: transparent;
    --bs-nav-link-hover-bg: var(--cor-neutra-4);

    background-color: var(--bs-nav-link-bg);

    &:focus,
    &:hover {
      --bs-nav-link-bg: var(--bs-nav-link-hover-bg);
    }

    ul a:hover,
    ul a:focus {
      background-color: var(--cor-neutra-4);
      color: white;
    }
  }
  .nav {
    > .nav-link {
      border-radius: 5px;
    }
  }
}
.offcanvas-backdrop.show {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.font-title {
  font-family: var(--font-title);
}
h1,
h2,
h3 {
  .font-title;
  text-transform: uppercase;
  font-weight: 300;

  strong,
  b {
    font-weight: 900;
  }
}

.lined {
  display: flex;
  align-items: center;
  gap: 1em;
  white-space: nowrap;

  &::after {
    content: "";
    display: block;
    flex-grow: 1;
    border-top: 1.5px solid currentColor;
    margin-bottom: 2px;
    width: 100%;
    height: 0px;
  }
}

.cursor-pointer {
  cursor: pointer;
}
.cursor-help {
  cursor: help;
}

.column-count {
  column-count: 2;
  column-gap: 1em;

  @media (max-width: 767px) {
    column-count: 1;
  }
}
.column-count-3 {
  column-count: 3;
}
.column-count-4 {
  column-count: 4;
}

#home-banner {
  background-color: var(--cor-neutra-8);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - var(--header-height, 88px));
  z-index: 0;

  &:before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background-color: #131f2c;
    background-image: linear-gradient(45deg, #000 0%, transparent 100%);
    opacity: 0.85;
    width: 100%;
    height: 100%;
  }

  #canvas {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
  }

  .swiper-slide {
    // background-color: var(--cor-neutra-8);
    background-size: cover;
    border: 0;
    color: #fff;
    min-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 160px;
    .trans;

    .slide-bg {
      position: absolute;
      inset: 0 0 0 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover;
      background-position: center;
      opacity: 0;
      .trans;
      transition-duration: 2s;
      transition-delay: 1s;

      @media (max-width: 991px) {
        transition-duration: .5s !important;
        transition-delay: .5s !important;
      }
    }
    &.swiper-slide-active .slide-bg {
      animation: kenburns 10s ease-in-out forwards;
      opacity: 0.8;
    }
    @keyframes kenburns {
      0% {
        transform: scale(1);
      }
      100% {
        transform: scale(1.05);
      }
    }

    > div {
      margin-top: auto;
      margin-bottom: auto;
    }

    &:not(.swiper-slide-active) {
      opacity: 0;
    }
  }

  .swiper-pagination {
    bottom: 100px;
    width: 100%;
  }

  .slide-box {
    max-width: 700px;
  }
  
  @media (max-width: 991px) {
    .swiper-slide {
      padding-top: 0 !important;
      
      .container {
        margin-top: 0;
        // max-width: initial;
        // padding: 0 !important;
      }
    }
    .slide-bg {
      margin: 0 0 30px !important;
      position: relative !important;
      height: auto;
      min-height: 45vw;
      animation: none !important;
    }
    .swiper-button-next,
    .swiper-button-prev {
      top: 18vw;
    }
  }
}

.slide-box {
  background-color: fade(#1e1e25, 40%);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  height: 100%;
  padding: 40px 80px 40px 60px;
  text-align: left;
  text-wrap: balance;
  border-left: 10px solid var(--cor-prim);

  --corner-size: 40px;

  h1,
  h2,
  h3 {
    width: 100%;
  }

  small {
    font-size: 0.5em;
    font-weight: 400;
    text-transform: initial;
    letter-spacing: 1px;
    display: flex;
    gap: 1em;
    margin-bottom: 0.15em;
  }

  p {
    font-weight: 300;
    margin-bottom: 20px;
  }

  .btn {
    padding: 15px 30px;
    flex-grow: 1;
  }

  @media (max-width: 991px) {
    border-left-width: 5px;
    padding: 25px;

    .btn {
      width: 100%;
      margin-top: 10px;
    }
  }
}

.swiper-pagination-bullet {
  border-radius: 5px;
  .trans;
}
.swiper-pagination-bullet-active {
  width: 40px;
}

.swiper-button-prev,
.swiper-button-next {
  .trans;
  background-color: fade(#000, 10%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  padding: 30px 20px;
  border-radius: 5px;

  &:hover {
    background-color: fade(#fff, 5%);
  }
}
.swiper:not(:hover) {
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 0;
  }
  .swiper-button-prev {
    transform: translateX(-50%);
  }
  .swiper-button-next {
    transform: translateX(50%);
  }
}
@media (max-width: 991px) {
  .swiper {
    --swiper-navigation-sides-offset: 0;
  }
}

.angled-corner-box {
  --corner-size: 40px;

  @media (max-width: 991px) {
    --corner-size: 20px;
  }
}

/* superior direito */
.angled-corner-box.top-right {
  clip-path: polygon(
    0 0,
    calc(100% - var(--corner-size)) 0,
    100% var(--corner-size),
    100% 100%,
    0 100%
  );
}
/* inferior direito */
.angled-corner-box.bottom-right {
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--corner-size)),
    calc(100% - var(--corner-size)) 100%,
    0 100%
  );
}
/* inferior esquerdo */
.angled-corner-box.bottom-left {
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    var(--corner-size) 100%,
    0 calc(100% - var(--corner-size))
  );
}
/* superior esquerdo */
.angled-corner-box.top-left {
  clip-path: polygon(
    var(--corner-size) 0,
    100% 0,
    100% 100%,
    0 100%,
    0 var(--corner-size)
  );
}

#home-intro {
  background-color: var(--cor-neutra-8);
  color: white;
  padding-bottom: 80px;

  p {
    font-weight: 300;
    font-size: 0.95em;
  }

  .swiper-slide {
    .trans;
    padding: 60px;

    &:not(.swiper-slide-active) {
      opacity: 0;
    }

    a {
      color: var(--bs-primary);
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.9em;
    }
  }

  @media (max-width: 767px) {
    padding-bottom: 0px;

    .swiper-slide {
      padding: 30px 30px 60px;
    }
  }
}
#home-intro-slider {
  padding-bottom: 60px;

  .svg-icon {
    font-size: 180px;
    color: var(--cor-prim);
  }
  @media (max-width: 767px) {
    .svg-icon {
      font-size: 120px;
    }
  }
}
#home-intro-box {
  background: radial-gradient(
      99.95% 102.34% at 50.03% 0%,
      rgba(0, 119, 255, 0.2) 0%,
      rgba(63, 71, 89, 0) 100%
    ),
    #3f4759;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
  transform: translateY(-50px);
  padding: 0px;
  z-index: 2;
}
.home-intro-swiper-nav {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 40px 45px;
  z-index: 2;

  button {
    display: flex;
    align-items: center;
    border: 0;
    background: none;
    color: inherit;
    padding: 5px;
    font-weight: 300;
    font-size: 40px;

    span {
      font-size: inherit;
    }
  }

  @media (max-width: 767px) {
    margin: 0;
    width: 100%;
    justify-content: center;
  }
}
#home-intro-cta {
  @media (min-width: 992px) {
    img {
      margin-top: -15%;
    }
  }
}

.section {
  --py: 120px;
  padding: var(--py) 0;
  padding-top: calc(var(--header-height) + (var(--py) / 2)) !important;

  @media (max-width: 991px) {
    --py: 90px;
  }

  .section-heading {
    padding-left: 2em;
    border-left: 10px solid var(--cor-prim);
  }
  .section-title {
    font-size: 3rem;
    display: flex;
    flex-direction: column;

    small {
      display: block;
      font-size: 0.5em;
      font-weight: 500;
      text-transform: none;
    }
  }
  @media (max-width: 991px) {
    .section-heading {
      padding-left: 1em;
      border-left-width: 5px;
    }
    .section-title {
      font-size: 2.3rem;
    }
  }
}
.section-img-parallax {
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.card {
  border-radius: 0;
  position: relative;
  overflow: hidden;
  width: 100%;

  --glow-color: rgb(var(--cor-azul-rgb), .3);

  img + .card-title {
    margin-top: 1rem;
  }

  .glow-effect {
    z-index: 1;
  }

  &.card-solucao {
    min-height: 60vh;
  }

  .card-title {
    font-family: var(--font-title);
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 1rem;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &.bg-dark {
    background-color: rgba(var(--cor-neutra-8-rgb), var(--bs-bg-opacity)) !important;
  }

  &.card-cover {
    .card-img {
      border: 0;
      border-radius: 0;
      position: absolute;
      object-fit: cover;
      object-position: 30% 50%;
      inset: 0 0 0 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      .trans;
      transition-duration: 1s;

      @media (max-width: 991px) {
        object-position: 40% 50%;
      }
    }
    &::before {
      content: "";
      background-image: linear-gradient(
        45deg,
        var(--cor-neutra-8) 20%,
        transparent 70%
      );
      position: absolute;
      inset: 0 0 0 0;
      z-index: 1;
      opacity: 1;
    }
    .card-body {
      position: relative;
      z-index: 2;
      max-width: 600px;
      padding: 8rem 4rem 4rem;

      @media (max-width: 991px) {
        padding: 4rem 2rem 2rem;

        .card-title {
          font-size: 2rem;
        }
      }
    }
  }

  &:hover {
    .card-img {
      transition-duration: 3s;
      transform: scale(1.075);
    }
  }
}

#solucoes {
  background: linear-gradient(
    180deg,
    var(--cor-neutra-1) 0%,
    var(--cor-neutra-2) 100%
  );
}

#sobre {
  .bg {
    position: absolute;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    height: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;

    &:after {
      content: "";
      background-color: rgba(var(--cor-neutra-4-rgb), 0.9);
      position: absolute;
      inset: 0 0 0 0;
      opacity: 1;
      -webkit-backdrop-filter: blur(5px) grayscale(1);
      backdrop-filter: blur(5px) grayscale(1);
      z-index: 1;
    }
  }

  @media (max-width: 991px) {
    .bg {
      height: 45vw;
      bottom: 0;
      top: initial;
      left: 0;
      width: 100vw;
      max-height: 500px;
    }
  }
}

#cta-apresentacao-fone-btn {
  --glow-color: var(--cor-prim);

  a {
    color: inherit;
    display: inline-flex;
    text-decoration: none;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    .trans;

    &:hover {
      text-shadow: 0 0 0 rgba(0, 0, 0, 0);
      color: var(--cor-neutra-8);
    }

    &.btn {
      padding: 20px 40px;

      &:hover {
        background-color: var(--cor-neutra-8);
        color: #fff;
      }
    }
  }
}

#footer {
  background-color: red;
  background: radial-gradient(
      40% 100.03% at 50% 0%,
      rgba(63, 71, 89, 0.5) 0%,
      rgba(28, 52, 77, 0.5) 100%
    ),
    #131f2c;

  .icon-list {
    li {
      line-height: 1.1em;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
#footer-copyright {
  color: var(--cor-neutra-3);
  a {
    font-weight: bold;
    white-space: nowrap;

    &:hover {
      color: #fff;
    }
  }
}
.footer-selo {
  height: 120px;

  @media (max-width: 767px) {
    height: 80px;
  }
}

.icon-list {
  margin: 0;
  padding: 0;

  li {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
  }

  .icon,
  .material-symbols-rounded {
    color: var(--cor-prim);
  }
}

#banner {
  --glow-size: 700px;

  &.mouse-glow .glow-effect {
    opacity: 0.5 !important;
    mix-blend-mode: overlay !important;
  }

  #banner-title {
    line-height: 1em !important;
  }

  &-breadcrumb {
    display: flex;
    align-items: center;
    width: 100%;
    line-height: 1em;
  
    &.lined {
      &:after {
        flex-grow: 1;
        width: 100%;
      }
    }
  
    ol.breadcrumb {
      --bs-breadcrumb-divider-color: inherit;
      margin: 0;
      padding: 0;
      list-style: none;
      font-size: 0.9rem;
      flex-grow: 0;
      width: 100%;
    }
    .breadcrumb-item {
      color: inherit;
      margin: 0;
      padding: 0 0 0.25rem 0;
      display: inline-flex;
      float: none;
  
      a {
        opacity: 0.5;
  
        &:hover {
          opacity: 1;
        }
      }
  
      &.active {
        display: none;
        font-weight: bold;
      }
  
      &:not(:first-child) {
        &:before {
          display: inline-flex;
          justify-content: center;
          float: none;
          content: "›";
          margin: 0 0 0 0.5em;
          text-align: center;
        }
      }
    }
    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
#banner-bg {
  position: absolute;
  inset: 0 0 0 0;
}
#banner-actions {
  @media (max-width: 767px) {
    width: 100%;
  }
}

@media (max-width: 991px) {
  #banner {
    padding: 0 !important;

    .container {
      max-width: 100%;
      padding: 0 !important;
    }
    #banner-content {
      .slide-box;
    }
  }
  #banner-bg {
    position: relative;
    height: auto;
    min-height: 45vw;
    width: 100%;

    &:before {
      display: none;
    }
  }
}

.modal {
  --bs-modal-padding: 2rem;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}